/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

#page-title.page-title-mini h1 {
    font-weight: 600;
    font-size: 13px;
    color: #444;
}

.page-menu-title {
    color: #FFF;
    font-size: 0.9rem;
    font-weight: 300;
    margin-right: auto;
}

.actualites {
    background-color: #cfe2ff;
    border-bottom: 1px solid #EEE;
}

.line-xs {
	margin: 4px 0 15px;
	border-bottom: 3px solid #EEE;
}

.line-xs::after {
	top: 100%;
	left: 30px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(51,51,51,0);
	border-top-color: #EEE;
	border-width: 8px;
	margin-left: -8px;
	z-index: 1;
	background: none;
}

/* Line Colors */
.line-home { border-bottom-color:  var(--themecolor, #FF8600) !important; }
.line-travel { border-bottom-color:  var(--travel, #6F42C1) !important; }
.line-tech { border-bottom-color:  var(--tech, #007BFF) !important; }
.line-fashion { border-bottom-color:  var(--fashion, #E83E8C) !important; }
.line-sports { border-bottom-color:  var(--sports, #DC3545) !important; }
.line-lifestyle { border-bottom-color:  var(--lifestyle, #13A774) !important; }
.line-food { border-bottom-color:  var(--food, #17A2B8) !important; }
.line-market { border-bottom-color:  var(--market, #FFC107) !important; }
.line-light { border-bottom-color:  var(--light, #F8F9FA) !important; }
.line-dark { border-bottom-color:  var(--dark, #343A40) !important; }

.line-home::after { border-top-color:  var(--themecolor, #FF8600) !important; }
.line-travel::after { border-top-color:  var(--travel, #6F42C1) !important; }
.line-tech::after { border-top-color:  var(--tech, #007BFF) !important; }
.line-fashion::after { border-top-color:  var(--fashion, #E83E8C) !important; }
.line-sports::after { border-top-color:  var(--sports, #DC3545) !important; }
.line-lifestyle::after { border-top-color:  var(--lifestyle, #13A774) !important; }
.line-food::after { border-top-color:  var(--food, #17A2B8) !important; }
.line-market::after { border-top-color:  var(--market, #FFC107) !important; }
.line-light::after { border-top-color:  var(--light, #F8F9FA) !important; }
.line-dark::after { border-top-color:  var(--dark, #343A40) !important; }

p, pre, ul, ol, dl, dd, blockquote, address, table, fieldset, form {
    margin-bottom: 10px;
}


.entry {
    position: relative;
    margin-bottom: 20px;
}

.entry-meta {
    margin-top: 2px;
}

.entry-content {
    margin-top: 10px;
}

.entry-content p{
    margin: 0;
}

.entry-content ul, .entry-content li, .entry-content ol {
    margin-left: 10px;
    padding-left: 10px;
}